* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    text-align: center;
}

#inputContainer, .boardOptionsContainer{
    display: flex;
    justify-content: center;
}
#inputContainer *{
    margin: 1%;
}
#inputContainer .boardOptionsContainer{
    flex: 1 1 50px;
}
#inputContainer button{
    flex: 2 1 auto;
}
.boardOptionsContainer {
    flex-direction: column;
    text-align: center;
}

#boardContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid orange;
    width: 90vh;
    height: 90vh;
    justify-content: stretch;
    align-items: stretch;
}

.rowContainer {
    display: flex;
    height: 20%;
}
.columnItem {
    border: 1px solid grey;
    flex: 1 1 auto;
}